<div class="w3-bar w3-border w3-white w3-topbar w3-border-red p-2">
    <a href="#" style="text-decoration: none;" class="w3-bar-item w3-large">
    <img src="assets/images/logo.png" width="40" alt="Logotipo">
        Curso
    <b>Angular</b></a>
    
    <div class="w3-right pr-5">
        <a [routerLink]="[ '/home']" routerLinkActive="w3-red"
         class="w3-bar-item w3-button w3-hover-red">Inicio</a>

        <a [routerLink]="[ '/blog']" routerLinkActive="w3-red" 
        class="w3-bar-item w3-button w3-hover-red">Blog</a>

        <a [routerLink]="[ '/formulario']" routerLinkActive="w3-red" 
        class="w3-bar-item w3-button w3-hover-red">Formulario</a>

        <a [routerLink]="[ '/peliculas']" routerLinkActive="w3-red" 
        class="w3-bar-item w3-button w3-hover-red">Peliculas</a>

        <a [routerLink]="[ '/pagina']" routerLinkActive="w3-red" 
        class="w3-bar-item w3-button w3-hover-red">Pagina</a>
    </div>
</div>
